<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDogQmmORyA6R6652jjny7JN-2G-YEgAfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1071069237687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethan.roomly</string>
	<key>PROJECT_ID</key>
	<string>roomly-7404c</string>
	<key>STORAGE_BUCKET</key>
	<string>roomly-7404c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071069237687:ios:6eed1f6bf799c768e61832</string>
</dict>
</plist>